#appWrapper {
    margin: 0 auto;
}

#summoner {
    width: 1000px;
    height: 200px;
    background: grey;
    margin: 0 auto;
}

#menu {
  width: 1000px;
  height: 54px;
  background: purple;
  margin: 0 auto;
}

#summoner-info {
  width: 1000px;
  height: 1000px;
  margin: 0 auto;
}

#summary {
  width: 250px;
  height: 200px;
  background: red;
  float: left;
}

#champion-summary {
  width: 250px;
    height: 800px;
    background: blue;
    /* margin: 0; */
    /* display: inline; */
    float: left;
    position: relative;
    top: 200px;
    right: 250px;
}

#summoner-average {
  width: 750px;
    height: 150px;
    background: yellow;
    float: left;
    position: relative;
    bottom: 800px;
    left: 250px;
}

#game-stat {
  width: 750px;
  height: 850px;
  background: aqua;
  position: relative;
  float: left;
  bottom: 799px;
  left: 250px;
}
