#appWrapper {
    margin: 0 auto;
}

.menu {
  list-style: none;
  float: left;
  margin: 0px;
}

#summary-info{
  width: 1000px;
  margin: 0 auto;
}

/**/

/*summary*/

#summoner {
    width: 1000px;
    height: 200px;
    background: grey;
    margin: 0 auto;
}

#menu {
  width: 1000px;
  height: 54px;
  background: purple;
  margin: 0 auto;
}

#summoner-info {
  width: 1000px;
  height: 1000px;
  margin: 0 auto;
}

#summary {
  width: 250px;
  height: 151px;
  background: red;
  float: left;
}

#tier-icon{
  float: left;
  padding: 15px 15px 0px 15px;
}

#tier-info{
  float: left;
  padding: 20px 0px;
}

#tier-league{
  float: left;
  padding: 0px 10px;
}

#champion-summary {
  width: 250px;
  background: green;
  float: left;
  position: relative;
  top: 151px;
  right: 250px;
}

.ranked-stats-div{
  width: inherit;
  height: 100px;
}

.ranked-stats-pic-style{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-position: center;
  float: left;
  margin: 15px;
  background-size: contain;
}

.ranked-stats-info{
  float:left;
  margin: 10px 10px;
}

#summoner-mastery {
  width: 750px;
      height: 200px;
      background: yellow;
      float: left;
      position: relative;
      bottom: 1000px;
      left: 250px;
}

.champion-mastery{
  float: left;
    width: 120px;
    margin: 0px 2px;
    height: inherit;
}

.champion-mastery-div-img{
  float: left;
  position: relative;
  width: inherit;
  height: 137px;
}

.champion-mastery-info{
  float: left;
  width: inherit;
  text-align: center;
}

.champion-mastery-img{
  z-index: 1;
    width: 71px;
    position: relative;
    top: 10px;
    left: 27px;
}

.champion-mastery-icon{
  z-index: 0;
  position: absolute;
  left: 24px;
  width: 77px;
}

#game-stat {
  width: 750px;
  height: 850px;
  background: aqua;
  position: relative;
  float: left;
  bottom: 799px;
  left: 250px;
}

/*season stats*/
#season-menu {
  width: inherit;
  height: 50px;
  background: green;
}

#champion-list {
  width: inherit;
  height: 950px;
  background: blue;
}

.champion-column {
  list-style: none;
  float: left;
  padding: 0px;
  margin: 0px;
}

ul.champion-column > li:last-Child {
  margin-right: 0px;
}

.champion-stats {
  float:left;
  margin-right: 5px;
}

/*league-stats*/
.league-column {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.league-stats {
  float:left;
  padding: 10px;
}

#search-league{
  width: inherit;
  height: 175px;
  background: red;
}

#league-icon{
  width: 250px;
  height: inherit;
  background: green;
  float: left;
}

#league-list{
  width: inherit;
  height: 825px;
  background: yellow;
}

/*runes*/
#runes-list{
  width: 225px;
  height: inherit;
  background: antiquewhite;
  float: left;
}

#runes-detail{
  width: 775px;
  height: inherit;
  background: coral;
  position: relative;
  float: left;
}

#runes-img{
  position: relative;
}

#rune-page-name{
  width: inherit;
  height: 40px;
  position: relative;
  text-align: center;
  padding: 10px;
}

.rune-div{
  width: 387.5px;
  height: 80px;
  float: left;
  position: relative;
}

.title{
  text-align: center;
  margin: 5px 0px;
}

.name{
  float: left;
  margin: 20px;
}

.quantity{
  float: right;
  margin: 20px;
}

/*masteries*/
#masteries-list{
  width: inherit;
  background: antiquewhite;
  float: left;
}

#masteries-detail{
  height: 750px;
  width: inherit;
  background: coral;
  float: left;
}

#mastery-page{
  position: absolute;
  left:0px;
}

#masteries-img{
  background-image: url(images/masteries/masterySlots.PNG);
  width: inherit;
  height: 585px;
}

.group{
  width: 33%;
  height: inherit;
  float: left;
}

.row-type-1,.row-type-2,.row-type-3{
  height: 86px;
  margin: 0px 20px;
}

.type-1-1,.type-1-3,.type-2-1,.type-2-2,.type-3-1,.type-3-2,.type-3-3{
  width: 70px;
  height: 70px;
  position: relative;
  float: left;
}

.type-1-1,.type-3-1{
  left: 28px;
}

.type-1-3{
  left: 130px;
}

.type-2-1{
  left: 76px;
}

.type-2-2{
  left: 83px;
}

.type-3-2{
  left: 43px;
}

.type-3-3{
  left: 61px;
}

.row1{
  top:16px;
}

.row2,.row3{
  top:14px;
}

.row4,.row5{
  top:11px;
}

.row6{
  top:6px;
}

.rank1,.rank3,.rank5{
  position: absolute;
  left: 37px;
  color: red;
  background: black;
  width: 27px;
  text-align: center;
  font-size: 8px;
  border: solid 1px red;
  border-radius: 4px;
}

.rank1{
  top: 51px;
}

.rank3{
  top: 49px;
}

.rank5{
  top: 47px;
}
