#appWrapper {
    margin: 0 auto;
}

.menu {
  list-style: none;
  float: left;
  margin: 0px;
}

#summary-info{
  width: 1000px;
  height: 1000px;
  margin: 0 auto;
}

/**/

/*summary*/

#summoner {
    width: 1000px;
    height: 200px;
    background: grey;
    margin: 0 auto;
}

#menu {
  width: 1000px;
  height: 54px;
  background: purple;
  margin: 0 auto;
}

#summoner-info {
  width: 1000px;
  height: 1000px;
  margin: 0 auto;
}

#summary {
  width: 250px;
  height: 200px;
  background: red;
  float: left;
}

#champion-summary {
  width: 250px;
    height: 800px;
    background: blue;
    /* margin: 0; */
    /* display: inline; */
    float: left;
    position: relative;
    top: 200px;
    right: 250px;
}

#summoner-average {
  width: 750px;
    height: 150px;
    background: yellow;
    float: left;
    position: relative;
    bottom: 800px;
    left: 250px;
}

#game-stat {
  width: 750px;
  height: 850px;
  background: aqua;
  position: relative;
  float: left;
  bottom: 799px;
  left: 250px;
}

/*season stats*/
#season-menu {
  width: inherit;
  height: 50px;
  background: green;
}

#champion-list {
  width: inherit;
  height: 950px;
  background: blue;
}

.champion-column {
  list-style: none;
  float: left;
  padding: 0px;
  margin: 0px;
}

ul.champion-column > li:last-Child {
  margin-right: 0px;
}

.champion-stats {
  float:left;
  margin-right: 5px;
}

/*league-stats*/
.league-column {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.league-stats {
  float:left;
  padding: 10px;
}

#search-league{
  width: inherit;
  height: 175px;
  background: red;
}

#league-icon{
  width: 250px;
  height: inherit;
  background: green;
  float: left;
}

#league-list{
  width: inherit;
  height: 825px;
  background: yellow;
}

/*runes*/
#runes-list{
  width: 225px;
  height: inherit;
  background: antiquewhite;
  float: left;
}

#runes-detail{
  width: 775px;
  height: inherit;
  background: coral;
  position: relative;
  float: left;
}

#runes-img{
  position: relative;
}

#rune-page-name{
  width: inherit;
  height: 40px;
  position: relative;
  text-align: center;
  padding: 10px;
}

.rune-div{
  width: 387.5px;
  height: 80px;
  float: left;
  position: relative;
}

.title{
  text-align: center;
  margin: 5px 0px;
}

.name{
  float: left;
  margin: 20px;
}

.quantity{
  float: right;
  margin: 20px;
}

/*masteries*/
#masteries-list{
  width: inherit;
  background: antiquewhite;
  float: left;
}

#masteries-detail{
  height: 750px;
  width: inherit;
  background: coral;
  float: left;
}
